#map { 
	width: 45%;
	height: 600px;
	margin: auto;
	border: 20px gray solid;
}

#details {
	width: 45%;
	height: 600px;
}

header {
	background-color: black;
	color: white;
	padding: 25px 50px;
	margin-bottom: 15px;
}

#titre {
	font-family: Tahoma;
	font-size: 40px;
	text-align: center;
}

body {
	background-color: lightblue;
	padding: 15px;
}

footer {
	background-color: white;
	color: darkgray;
	padding: 25px 50px;
	margin-top: 15px;
}

.container {
	display: flex;
	flex-direction: row;
}